*,
*::after, 
*::before{
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: darkgray;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    background: #f6f5f5;
}

.nav__brand{
    text-transform: uppercase;
    font-weight: bold;
}

.nav__menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}

.nav__toggler div {
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: darkgray;
    transition: 0.4s ease-in;
}

.nav__toggler{
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px) {
    .nav__toggler{
        display: block;
    }
    .nav__menu{
        position: fixed;
        top: 7vh;
        right: 0;
        width: 50%;
        height: 93vh;
        background:#f6f5f5;
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }
}

/* Nav Active Class */
.nav__active{
    transform: translateX(0);
}

/* Toggle Icon Animation */
.toggle .line1{
    transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-4px, -5px);
}